<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<!--Part Body -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Những dòng sản phẩm mới</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li><a th:href="@{/home/filter}">Laptops</a></li>
                            <li><a th:href="@{/home/filter2}">Smart Phone</a></li>
                            <li><a th:href="@{/home/filter3}">Cameras</a></li>
                            <li><a th:href="@{/home/filter4}">Accessories</a></li>
                            <li><a th:href="@{/home}">All</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div  id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                <div th:each="product : ${listProduct}" class="product">
                                    <div class="product-img">
                                        <img style="width: 260px; height: 300px" th:src="@{/img/} + ${product.image}" alt=""/>
                                        <div class="product-label">
                                            <span class="sale">-30%</span>
                                            <span class="new">NEW</span>
                                        </div>
                                    </div>
                                    <div  class="product-body">
                                        <p th:text="${product.getCategory().getName()}" class="product-category"></p>
                                        <h3 th:text="${product.name}" class="product-name">

                                        </h3>
                                        <h4 th:text="${product.price}" class="product-price">
                                        </h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="product-btns">
                                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span
                                                    class="tooltipp">add to wishlist</span></button>
                                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span
                                                    class="tooltipp">add to compare</span></button>
                                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                            </button>
                                        </div>
                                        <a class="add-to-cart-btn" th:href="@{/products/viewproduct/{id}(id=${product.id})}"> Chi tiết sản phẩm
                                        </a>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-to-cart-btn" th:href="@{/shopping-cart/add/{id}(id=${product.id})}"> Thêm vào giỏ hàng
                                        </a>
                                    </div>
                                </div>
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!--Part Body  -->
<th:block th:replace="layout :: footer"></th:block>
<!--Cho nay de js-->
<div>
    <div th:replace="layout :: js_bundle">
    </div>
</div>
</body>
</html>