<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<th:block th:replace="~{layout :: header}"></th:block>
<div class="container">
    <h1>Add Book</h1>
    <form th:action="@{/products/add}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div class="col-6 mb-3">
            <label class="form-label" for="title">Title:</label>
            <input class="form-control" type="text" th:field="*{name}" id="title">
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Image:</label>
            <input class="form-control" type="file"  id="image" accept="image/png, image/jpeg" name="ImageProduct">
            <span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Price:</label>
            <input class="form-control" type="text" th:field="*{price}" id="price">
            <span class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Category:</label>
            <select class="form-control" id="category" name="category.id">
                <option value="">-- Select Category ---</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
            <span class="text-danger" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/products}">Back to List</a>
</div>
<div th:replace="~{layout :: footer}"></div>
<div th:replace="~{layout :: js_bundle}">

</div>
</body>
</html>